<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="firstnucleus.xirclapiexample.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/xircls_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/xircls_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".products.ProductListingActivity"
            android:label="@string/title_activity_product_list">
        </activity>
        <activity
            android:name=".products.ProductDetailsActivity"
            android:label="@string/title_activity_product_details">
        </activity>
        <activity
            android:name=".products.CartActivity"
            android:label="@string/title_activity_cart">
        </activity>
        <activity
            android:name=".payment.PaymentActivity"
            android:label="@string/title_activity_payment">
        </activity>
        <activity
            android:name=".payment.ThankYouActivity"
            android:label="@string/title_activity_thankyou">
        </activity>
        <activity
            android:name=".setup.SetupActivity"
            android:label="@string/activitySetup"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>